
<p>
  <strong>Username:</strong>
  <%= @team.username %>
</p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @team.lastname %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
