<h1>Listing works</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Duration</th>
      <th>Begin date</th>
      <th>End date</th>
      <th>Autor</th>
      <th>Check</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @works.each do |work| %>
      <tr>
        <td><%= work.title %></td>
        <td><%= work.description %></td>
        <td><%= work.duration %></td>
        <td><%= work.begin_date %></td>
        <td><%= work.end_date %></td>
        <td><%= work.autor %></td>
        <td><%= work.check %></td>
        <td><%= link_to 'Show', work %></td>
        <td><%= link_to 'Edit', edit_work_path(work) %></td>
        <td><%= link_to 'Destroy', work, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%if team_signed_in? %>
<%= link_to 'New Work', new_work_path %>
<% end %>